# SQL Queries

Explore a large dataset of Air pollution measurements.

The code cell below fetches the `global_air_quality` table from the `openaq` dataset.  We also preview the first five rows of the table.

In [26]:
from google.cloud import bigquery

# create a "Client" object
client = bigquery.Client()

# construct a reference to the "openaq" dataset
dataset_ref = client.dataset("openaq", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

# construct a reference to the "global_air_quality" table
table_ref = dataset_ref.table("global_air_quality")

# API request - fetch the table
table = client.get_table(table_ref)

# preview the first five lines of the "global_air_quality" table
df = client.list_rows(table, max_results=5).to_dataframe()
df

Using Kaggle's public dataset BigQuery integration.

,location,city,country,pollutant,value,timestamp,unit,source_name,latitude,longitude,averaged_over_in_hours,location_geom
0,"Borówiec, ul. Drapałka",Borówiec,PL,bc,0.85217,2022-04-28 07:00:00+00:00,µg/m³,GIOS,1.0,52.276794,17.074114,POINT(52.276794 1)
1,"Kraków, ul. Bulwarowa",Kraków,PL,bc,0.91284,2022-04-27 23:00:00+00:00,µg/m³,GIOS,1.0,50.069308,20.053492,POINT(50.069308 1)
2,"Płock, ul. Reja",Płock,PL,bc,1.41000,2022-03-30 04:00:00+00:00,µg/m³,GIOS,1.0,52.550938,19.709791,POINT(52.550938 1)
3,"Elbląg, ul. Bażyńskiego",Elbląg,PL,bc,0.33607,2022-05-03 13:00:00+00:00,µg/m³,GIOS,1.0,54.167847,19.410942,POINT(54.167847 1)
4,"Piastów, ul. Pułaskiego",Piastów,PL,bc,0.51000,2022-05-11 05:00:00+00:00,µg/m³,GIOS,1.0,52.191728,20.837489,POINT(52.191728 1)

# Units of Measurement

Which countries have reported pollution levels in units of "ppm"?  In the code cell below, we set `first_query` to an SQL query that pulls the appropriate entries from the `country` column.

In [31]:
# Query to select countries with units of "ppm"

first_query = """
SELECT DISTINCT country
FROM `bigquery-public-data.openaq.global_air_quality`
WHERE unit= 'ppm'
"""
# set up the query (cancel the query if it would use too much of 
# quota, with the limit set to 10 GB)
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
first_query_job = client.query(first_query, job_config=safe_config)

# API request - run the query, and return a pandas DataFrame
first_results = first_query_job.to_dataframe()

# View top few rows of results
print(first_results.head())

  country
0      AR
1      IL
2      TW
3      CO
4      EC

# High Air Quality

In [30]:
# Query to select all columns where pollution levels are exactly 0
zero_pollution_query = """
SELECT * 
FROM `bigquery-public-data.openaq.global_air_quality`
WHERE value=0
""" 
# set up the query
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
query_job = client.query(zero_pollution_query, job_config=safe_config)

# API request - run the query and return a pandas DataFrame
zero_pollution_results = query_job.to_dataframe() 

print(zero_pollution_results.head())

                     location          city country pollutant  value  \
0  Żary, ul. Szymanowskiego 8          Żary      PL        bc    0.0
1     Starachowice, ul. Złota  Starachowice      PL        bc    0.0
2       Kraków, ul. Bulwarowa        Kraków      PL        bc    0.0
3   Zielonka, Bory Tucholskie      Zielonka      PL        bc    0.0
4   Żagań, ul. Kochanowskiego         Żagań      PL        bc    0.0

                  timestamp   unit source_name  latitude  longitude  \
0 2022-05-05 02:00:00+00:00  µg/m³        GIOS       1.0  51.642656
1 2022-05-08 11:00:00+00:00  µg/m³        GIOS       1.0  51.050611
2 2022-05-07 13:00:00+00:00  µg/m³        GIOS       1.0  50.069308
3 2022-05-15 11:00:00+00:00  µg/m³        GIOS       1.0  53.662136
4 2022-05-02 13:00:00+00:00  µg/m³        GIOS       1.0  51.615447

   averaged_over_in_hours       location_geom
0               15.127808  POINT(51.642656 1)
1               21.084175  POINT(51.050611 1)
2               20.053492  POINT(50.069308 1)
3               17.933986  POINT(53.662136 1)
4               15.301667  POINT(51.615447 1)